<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
    <main>
        <article>
            <h1>{{ atricle.header }}</h1>
            <p>
                <b> {{ article.sinopsis }} </b>
                <date>{{ article.date }}</date>
            </p>
            <div class="article-body">{{ article.text }}</div>
            <div class="tags">
                <ul>
                    {% for tag if atricle.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </article>
    </main>
</body>
</html>